<div
  class="container-fluid bg-black custom-padding d-flex flex-column align-items-center"
>
  <div class="row px-2 mt-2 gy-3 gy-lg-0">
    <div class="col-6 col-md-3">
      <a class="d-block" href="#">Audio and Subtitles</a>
      <a class="d-block" href="#">Media Center</a>
      <a class="d-block" href="#">Privacy</a>
      <a class="d-block" href="#">Contact Us</a>
    </div>
    <div class="col-6 col-md-3">
      <a class="d-block" href="#">Audio Description</a>
      <a class="d-block" href="#">Investor Relations</a>
      <a class="d-block" href="#">Legal Notices</a>
    </div>
    <div class="col-6 col-md-3">
      <a class="d-block" href="#">Help Center</a>
      <a class="d-block" href="#">Jobs</a>
      <a class="d-block" href="#">Cookie Preferences</a>
    </div>
    <div class="col-6 col-md-3">
      <a class="d-block" href="#">Gift Cards</a>
      <a class="d-block" href="#">Terms of Use</a>
      <a class="d-block" href="#">Corporate Information</a>
    </div>

    <div class="col-6 col-md-3">
      <p class="fw-bold mt-3">Epiflex &copy;</p>
    </div>
  </div>
</div>
