<nav class="navbar navbar-expand bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="../../../assets/logo.png"
        alt="logo epiflex"
        width="80px"
        class="p-2"
      />
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-100 d-flex justify-content-between">
        <div class="d-flex">
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              [routerLink]="['/']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>
          <li class="nav-item" *ngIf="userLogged">
            <a
              class="nav-link"
              aria-current="page"
              [routerLink]="['/movies']"
              routerLinkActive="active"
              >Film</a
            >
          </li>
        </div>
        <div class="d-flex">
          <li class="nav-item" *ngIf="userLogged">
            <a
              class="nav-link me-3"
              [routerLink]="['/profile']"
              routerLinkActive="active"
              >Profilo</a
            >
          </li>
          <li class="nav-item" *ngIf="userLogged">
            <button class="btn btn-outline-danger" (click)="logout()">
              Logout
            </button>
          </li>

          <li class="nav-item" *ngIf="!userLogged">
            <a
              class="nav-link"
              [routerLink]="['/login']"
              routerLinkActive="active"
              >Login</a
            >
          </li>
          <li class="nav-item" *ngIf="!userLogged">
            <a
              class="nav-link"
              [routerLink]="['/registration']"
              routerLinkActive="active"
              >Registrazione</a
            >
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>
