<div class="container-fluid cover text-white bg-black">
  <div class="row d-flex flex-column justify-content-center">
    <div
      class="col-6 offset-1 position-absolute d-flex flex-column justify-content-center align-items-center title z-1"
    >
      <div>
        <h1 class="fw-bold text-white m-0">
          I tuoi film preferiti,<br />
          senza limiti!
        </h1>
        <p class="m-0">A partire da 5,49 €. Disdici quando vuoi.</p>
      </div>
    </div>
    <div class="opacity-25 nopadding">
      <img
        class="object-fit-cover hero-img"
        src="https://assets.nflxext.com/ffe/siteui/vlv3/b4c7f092-0488-48b7-854d-ca055a84fb4f/419bb539-1176-41c7-b1df-890047ea2d62/IT-it-20231204-popsignuptwoweeks-perspective_alpha_website_large.jpg"
        alt="image collection of film's poster"
        width="100%"
      />
    </div>
  </div>

  <div class="row bg-black border-top border-1 border-white px-4">
    <h3 class="fw-bold my-5 text-center">Motivi in più per abbonarsi</h3>
    <div class="col-12 col-sm-6 col-lg-3 my-2 px-3 mb-3">
      <div class="card border-0 text-white h-100 card-bg">
        <div class="card-body">
          <h5 class="card-title fw-bold text-danger">
            Goditi Epiflex sulla tua TV
          </h5>
          <p class="card-text mt-3 fs-8">
            Guarda Epiflex su smart TV, Playstation, Xbox, Chromecast, Apple TV,
            lettori Blu-ray e molti altri dispositivi.
          </p>
          <div class="text-end position-absolute bottom-0 end-0 m-2">
            <i class="bi bi-tv"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 my-2 px-3 mb-3">
      <div class="card border-0 text-white h-100 card-bg">
        <div class="card-body">
          <h5 class="card-title fw-bold text-danger">
            Scarica le tue serie da guardare offline
          </h5>
          <p class="card-text mt-3 fs-8">
            Salva facilmente i tuoi preferiti così avrai sempre qualcosa da
            guardare.
          </p>
          <div class="text-end position-absolute bottom-0 end-0 m-2">
            <i class="bi bi-box-arrow-down"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 my-2 px-3 mb-3">
      <div class="card border-0 text-white h-100 card-bg">
        <div class="card-body">
          <h5 class="card-title fw-bold text-danger">Guarda Epiflex ovunque</h5>
          <p class="card-text mt-3 fs-8">
            Cellulare, tablet, laptop e TV: scegli tu cosa usare per guardare in
            streaming film e serie TV senza limiti.
          </p>
          <div class="text-end position-absolute bottom-0 end-0 m-2">
            <i class="bi bi-globe2"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 my-2 px-3 mb-3">
      <div class="card border-0 text-white h-100 card-bg">
        <div class="card-body">
          <h5 class="card-title fw-bold text-danger">
            Crea profili per i bambini
          </h5>
          <p class="card-text mt-3 fs-8">
            I bambini scoprono nuove avventure in compagnia dei loro personaggi
            preferiti in uno spazio tutto loro già incluso nel tuo abbonamento.
          </p>
          <div class="text-end position-absolute bottom-0 end-0 m-2">
            <i class="bi bi-person-hearts"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row bg-black px-4">
    <h3 class="fw-bold my-5 text-center">Domande Frequenti</h3>
    <div class="d-flex flex-column align-items-center">
      <div class="accordion w-100 px-5" id="accordionExample">
        <div
          class="accordion-item border border-1 border-white text-white bg-black"
        >
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed text-white bg-black"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFirst"
              aria-expanded="false"
              aria-controls="collapseFirst"
            >
              Cos'è Epiflex?
            </button>
          </h2>
          <div
            id="collapseFirst"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              Epiflex è un servizio di streaming fake fatto come progetto per il
              corso da full-stack developer di Epicode
            </div>
          </div>
        </div>
        <div
          class="accordion-item border border-1 border-white text-white bg-black"
        >
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed text-white bg-black"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseSecond"
              aria-expanded="false"
              aria-controls="collapseSecond"
            >
              Dove posso guardare Epiflex?
            </button>
          </h2>
          <div
            id="collapseSecond"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              Sul mio profilo
              <a
                href="https://github.com/Ott00"
                target="_blank"
                class="text-decoration-none text-danger"
                >GitHub</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
