<div class="container-fluid bg-black text-white">
  <div class="row px-5 py-3 bg-black d-flex justify-content-center">
    <div class="row mt-3 px-5 py-3 d-flex justify-content-center">
      <div
        class="col-12 col-md-4 bg-dark d-flex justify-content-center rounded-3"
      >
        <img src="../../../assets/avatar.png" alt="" />
      </div>
      <div class="col-12 col-md-7 bg-danger p-3 rounded-3 mt-2 mt-md-0 ms-md-2">
        <h4 class="border-bottom">Information</h4>

        <div class="row">
          <div class="col-12 col-sm-6">
            <p class="fw-bold fs-6 m-0">Nome</p>
            <p>{{ userInfo.name }}</p>
          </div>
          <div class="col-12 col-sm-6">
            <p class="fw-bold fs-6 m-0">Cognome</p>
            <p>{{ userInfo.surname }}</p>
          </div>
          <div class="col-12">
            <p class="fw-bold fs-6 m-0">Email</p>
            <p>{{ userInfo.email }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
